In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
df = pd.read_csv("time_series_2019-ncov-Confirmed.csv")
df.head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,75,82,114,147,177,212,272,322,411,599
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,701,773,839,825,878,889,924,963,1007,1086
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,200,212,226,243,266,313,345,385,432,455
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,2
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,197,238,428,566,673,790,900,1030,1183,1306
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,64,64,73,103,103,186,231,271,424,424
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,92,112,134,171,210,267,307,353,436,533
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,36,49,57,71,94,121,121,121,229,296
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,35,46,61,68,78,94,144,184,221,221
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,5,7,7,7,33,35,37,51,53,84
10,NaN,Sri Lanka,7.0000,81.0000,0,0,0,0,0,1,...,6,10,18,28,44,51,60,73,77,82
11,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,3675,4585,5795,7272,9257,12327,15320,19848,22213,24873
12,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,155,225,244,277,321,336,400,450,523,626
13,NaN,United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,...,85,85,98,98,98,113,140,140,153,153
14,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,64,111,140,142,187,202,217,230,307,380
15,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,82,102,113,119,142,156,194,244,330,396
16,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,17660,21157,24747,27980,31506,35713,41035,47021,53578,59138
17,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,814,961,1022,1103,1190,1279,1439,1639,1763,1934
18,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,5232,6391,7798,9942,11748,13910,17963,20410,25374,28768
19,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,16,19,20,29,29,37,42,50,67,100

In [7]:
df.groupby('Country/Region').sum()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.0000,65.0000,0,0,0,0,0,0,0,0,...,7,11,16,21,22,22,22,24,24,40
Albania,41.1533,20.1683,0,0,0,0,0,0,0,0,...,33,38,42,51,55,59,64,70,76,89
Algeria,28.0339,1.6596,0,0,0,0,0,0,0,0,...,26,37,48,54,60,74,87,90,139,201
Andorra,42.5063,1.5218,0,0,0,0,0,0,0,0,...,1,1,1,2,39,39,53,75,88,113
Angola,-11.2027,17.8739,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,41.3775,64.5853,0,0,0,0,0,0,0,0,...,0,0,1,6,10,15,23,33,43,43
Venezuela,6.4238,-66.5897,0,0,0,0,0,0,0,0,...,0,2,10,17,33,36,42,42,70,70
Vietnam,16.0000,108.0000,0,2,2,2,2,2,2,2,...,47,53,56,61,66,75,85,91,94,113
Zambia,-15.4167,28.2833,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,3
Zimbabwe,-20.0000,30.0000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,3

In [9]:
df.shape[0]

487

In [11]:
df['sum'] = df[].sum(axis=1)

In [17]:
df['sum'] = df[df.columns[4:]].sum(axis=1)

In [21]:
df = df.drop('sum', axis=1)

In [22]:
df['sum'

KeyError: 'sum'